.sectionContainer{
    margin-top:24px;

}
.sectionHeader{
    display:flex;
    justify-content: space-between;
    background-color: var(--color-black);
    color:var(--color-white);
    padding:0px 33px;
}
.gridContainer{
    margin-top:18px;
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    column-gap: 24px;
    padding:0px 32px;
}
.sectionSongsHeader{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--color-black);
    color:var(--color-white);
    padding:0px 33px;
}

