.card{
    margin-top:72px;
    margin-left:43px;
    height:220px;
    width:159px;
    display:flex;
    flex-direction: column;
}
.cardBody{
    box-shadow:0px 5px 15px -5px;
    border-radius: 10px;
    cursor:pointer;
}
.followsContainer{
    background-color: var(--color-black);
    width:fit-content;
    padding: 4px 8px;
    border-radius: 10px;
    color:var(--color-white);
}
