.card{
    height:300px;
    width:159px;
    display:flex;
    flex-direction: column;
}
.cardBody{
   box-shadow:1.3px 2.6px 2.6px hsl(0deg 0% 0% / 0.46);
    border-radius: 10px !important;
    cursor:pointer;
    overflow: hidden;
}
.followsContainer{
    background-color: var(--color-black);
    width:fit-content;
    height:fit-content;
    padding: 4px 8px;
    color:var(--color-white);
    border-radius:10px;
}
