.feedbackButton{
    background-color: var(--color-black);
    color:var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 12px;
    height: 47px;
    cursor:pointer;
    padding:10px 16px;
}